/* Общие параметры */
.primary-button,
.secondary-button,
.round-button,
.chevron-right,
.button-profile,
.button-info {
    font: 18px var(--font-family-r);
    cursor: pointer;
    outline: none;
    border: none;
}


/* Основная большая кнопка и круглая кнопка для добавления задачи*/
.primary-button,
.round-button {
    color: var(--color-white);
    background-color: var(--color-black);
    box-shadow: var(--button-shadow);
}

.primary-button {
    border-radius: 24px;
    height: 48px;
    width: 270px;
}


.round-button {
    cursor: pointer;
    outline: none;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-image: url(../images/icons/universal-add.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.primary-button:hover,
.round-button:hover,
.primary-button:focus,
.round-button:focus {
    background-color: var(--color-darkgrey);
    transition: background var(--button-animation);
}


/* Второстепенная кнопка с прозрачным фоном */
.secondary-button {
    background: transparent;
    color: var(--color-black);
    height: 48px;
}

.secondary-button:hover,
.secondary-button:focus {
    color: var(--color-mediumgrey);
    transition: color var(--button-animation);
}


/* Иконка «инфо» в шапке */
.button-info {
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-image: url(../images/icons/desktop-info-white.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-info:hover,
.button-info:focus {
    background-image: url(../images/icons/desktop-info-white-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: background-image var(--button-animation);
}


/* Иконка «профиль» в шапке */
.button-profile {
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-image: url(../images/icons/desktop-profile-white.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.button-profile:hover,
.button-profile:focus {
    background-image: url(../images/icons/desktop-profile-white-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: background-image var(--button-animation);
}


/* Шеврон в элементах списка */
.chevron-right {
    border: none;
    height: 80px;
    width: 80px;
    background-color: transparent;
    background-image: url(../images/icons/universal-chevron-grey.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
}

.chevron-right:hover,
.chevron-right:focus {
    border: none;
    background-image: url(../images/icons/universal-chevron-grey-hover.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
    transition: background-image var(--button-animation);
}


/* Кнопка «назад» */
.chevron-left {
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-image: url(../images/icons/universal-chevron-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 10px;
}