@font-face {
    font-family: OpenSansL;
    src: url('../fonts/OpenSans/OpenSans-Light.ttf');
}

@font-face {
    font-family: OpenSansR;
    src: url('../fonts/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: OpenSansSB;
    src: url('../fonts/OpenSans/OpenSans-Semibold.ttf');
}
