:root {
    --color-white: #ffffff;
    --color-black: #1F2021;
    --color-grey: #A9A9A9;
    --color-red: #FC1212;
    --color-ultralightgrey: #E6E6E6;
    --color-lightgrey: #D9D9D9;
    --color-mediumgrey: #848484;
    --color-darkgrey: #414447;
    --background-color: #F7F7F7;
    --background-shading: rgba(0, 0, 0, 0.4);
    --shadow-color: rgba(31, 32, 33, 0.2);

    --font-family-l: OpenSansL, sans-serif;
    --font-family-r: OpenSansR, sans-serif;
    --font-family-sb: OpenSansSB, sans-serif;

    --animation-speed: .3s;
    --animation-func: ease;
    --animation: var(--animation-speed) var(--animation-func);
    --button-shadow: 0px 2px 4px var(--shadow-color);
    --container-shadow: 2px 3px 9px var(--shadow-color);

    --checkbox-size: 0.75em;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: var(--font-family-r);
    height: 100%;
    display: grid;
    grid-column-gap: 0;
    grid-row-gap: 24px;
    grid-template: 80px 1fr 60px / 36px 1fr 36px;
    grid-template-areas:
        "header header header"
        "...... main ......"
        "...... footer ......"
}

.header {
    grid-area: header;
    background-color: var(--color-black);
}

.main {
    grid-area: main;
    width: 100%;
    justify-self: center;
}

.footer {
    grid-area: footer;
    margin: 0 auto;
}