h2 {
    font-family: var(--font-family-sb);
    color: var(--color-black);
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 76px;
}

.edit-form_text {
    width: 430px;
}

.edit-form_text p {
    margin-top: -10px;
    float: left;
    font-size: 14px;
    color: var(--color-mediumgrey);
    font-family: var(--font-family-l)
}

.edit-form__button {
    margin-top: 10px;
}