.title {
    font: 24px var(--font-family-sb);
    text-align: center;
}

.date {
    font: 16px var(--font-family-l);
    color: var(--color-mediumgrey);
}

.task-info__content {
    text-align: center;
}

.task-info__text {
    text-align: left;
}

.task-info__textarea {
    margin-top: 24px;
    resize: none;
    appearance: none;
    height: 100%;
    max-height: 280px;
    border-radius: 12px;
    border: 1px solid var(--color-ultralightgrey);
    padding-left: 14px;
    padding-top: 8px;
    color: var(--color-black);
    background-color: transparent;
    outline: var(--color-mediumgrey);
    width: 100%;
    font: 16px var(--font-family-l);
    overflow: auto;
}