.breadcrumbs__back-button {
    text-decoration: none;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;
    height: 36px;
    background: transparent;
    color: var(--color-black);
    font-size: 17px;
}

.breadcrumbs__back-button:hover,
.breadcrumbs__back-button:focus {
    opacity: .6;
    transition: var(--button-animation);
}

.title {
    font: 24px var(--font-family-sb);
    text-align: center;
}

.date {
    font: 16px var(--font-family-l);
    color: var(--color-mediumgrey);
}

.task-info__content {
    text-align: center;
}

.task-info__text {
    text-align:left;
}

.task-info__textarea {
    margin-top: 24px;
    resize: none;
    appearance: none;
    height: auto;
    max-height: 280px;
    border-radius: 12px;
    border: 1px solid var(--color-ultralightgrey);
    padding-left: 14px;
    padding-top: 8px;
    color: var(--color-black);
    background-color: transparent;
    outline: var(--color-mediumgrey);
    /*width: 100%;*/
    font: 16px var(--font-family-l);
    overflow: auto;
}