.task-list__item {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: var(--color-white);
    margin-bottom: 8px;
    box-shadow: var(--container-shadow);
    user-select: none;
    align-items: center;
}

.task-list__label {
    display: inline-block;
    height: 80px;
    width: 100%;
    background-color:transparent;
    user-select: none;
    align-items: center;
}

.task-list__label:hover,
.task-list__label:focus {
    background-color: var(--color-lightgrey);
    transition: background-color var(--button-animation);
}

.task-list__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.task-list__checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    padding-left: 24px;
    cursor: pointer;
}

.task-list__checkbox+label::before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    flex-grow: 0;
    background-image: url(../images/icons/universal-checkbox-empty.svg);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 14px;
}

.task-list__checkbox:hover+label::before {
    transform: scale(1.2);
    color: var(--color-grey);
    transition: color var(--button-animation);
}

.task-list__checkbox:checked+label::before {
    background-image: url(../images/icons/universal-checkbox-filled.svg);
    color: var(--color-grey);
}

[type="checkbox"]:checked + label {
    color: var(--color-grey);
}

.chevron-right {
    margin-left: auto;
    transition: margin-left var(--button-animation);
}