a {
    text-decoration: none;
}

h2 {
    font-family: var(--font-family-sb);
    font-weight: 600;
    color: #282826;
}

.test-font {
    font-family: var(--font-family-sb);
}

.navigation__button {
    display: inline-flex;
    align-items: center;
    width: fit-content;
}

.navigation {
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "Roboto", sans-serif;
    line-height: 20px;
    font-size: 17px;
    font-weight: 400;
    color: var(--color-black);
}

.navigation h2 {
    display: flex;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile h2 {
    font-size: 24px;
    line-height: 33px;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-top: 72px;
    border-radius: 50%;
    background-image: url("../images/pictures/avatar.jpg");
}

.profile__exit-button {
    margin-top: 32px;
}

.profile__exit-button button {
    color: var(--color-mediumgrey);
}

.profile__delete-button {
    margin-top: 35px;
}

.profile__delete-button button {
    color: var(--color-red);
}

.about h2, p {
    display: flex;
    justify-content: center;
}

.about h2 {
    margin-top: 35px;
    font-size: 24px;
    line-height: 33px;
    font-family: var(--font-family-sb);
}

.about p {
    margin-top: 78px;
    font-size: 18px;
    line-height: 25px;
    font-family: var(--font-family-r);
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit__img {
    position: relative;
}

.edit__img-filter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(0,0,0,.5);
}

.edit h2 {
    font-size: 24px;
    line-height: 33px;
}

.edit__change-name {
    /*margin-top: 19px;*/
/*    box-sizing: border-box;*/
/*    width: 328px;*/
/*    height: 48px;*/
/*    border: 1px solid #E4E4E4;*/
/*    border-radius: 12px;*/
/*    background: white;*/
/*    font-family: "Roboto", sans-serif;*/
/*    font-size: 18px;*/
/*    line-height: 21px;*/
/*    color: var(--color-black);*/
}

.edit__change-button {
    margin-top: 22px;
    font-size: 14px;
}

.edit__save-button {
    margin-top: 159px;
}

.edit__cancel-button {
    margin-top: 44px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-form {
    margin-top: 76px;
}

.edit-form p {
    margin-top: -10px;
    float: left;
    font-size: 14px;
    font-family: var(--font-family-l);
    color: var(--color-mediumgrey)
}

.edit-form_text {
    width: 430px;
}

.edit-form__repeat {
    margin-top: 10px;
}

.edit-form__save-button {
    margin-top: 24px;
}