/* Общие параметры */
.primary-button,
.secondary-button,
.round-button,
.icon-button-chevron-left,
.icon-button-chevron-right,
.icon-button-profile,
.icon-button-info {
    font-size: 18px;
    font-family: var(--font-family-r);
    cursor: pointer;
    outline: none;
    border: none;
}


/* Основная большая кнопка и круглая кнопка для добавления задачи*/
.primary-button,
.round-button {
    color: var(--color-white);
    background-color: var(--color-black);
    transition: background var(--animation);
    box-shadow: var(--button-shadow);
}

.primary-button {
    border-radius: 24px;
    height: 48px;
    width: 293px;
}


.round-button {
    cursor: pointer;
    outline: none;
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-image: url(../images/icons/universal-add.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.primary-button:hover,
.round-button:hover,
.primary-button:focus,
.round-button:focus {
    background-color: var(--color-darkgrey);
}


/* Второстепенная кнопка с прозрачным фоном */
.secondary-button {
    background: transparent;
    color: var(--color-black);
}

.secondary-button:hover,
.secondary-button:focus {
    color: var(--color-mediumgrey);
    transition: color var(--animation);
}


/* Иконка «инфо» в шапке */
.icon-button-info {
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-image: url(../images/icons/desktop-info-white.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-button-info:hover,
.icon-button-info:focus {
    background-image: url(../images/icons/desktop-info-white-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: background-image var(--animation);
}


/* Иконка «профиль» в шапке */
.icon-button-profile {
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-image: url(../images/icons/desktop-profile-white.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.icon-button-profile:hover,
.icon-button-profile:focus {
    background-image: url(../images/icons/desktop-profile-white-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: background-image var(--animation);
}


/* Шеврон в элементах списка */
.icon-button-chevron-right {
    height: 80px;
    width: 80px;
    background-color: transparent;
    background-image: url(../images/icons/universal-chevron-grey.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
}

.icon-button-chevron-right:hover,
.icon-button-chevron-right:focus {
    background-image: url(../images/icons/universal-chevron-grey-hover.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-color: transparent;
    transition: background-image var(--animation);
}


/* Кнопка «назад» */
.icon-button-chevron-left {
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-image: url(../images/icons/universal-chevron-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 10px;
}

.icon-button-chevron-left:hover,
.icon-button-chevron-left:focus {
    background-image: url(../images/icons/universal-chevron-black-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    transition: background-image var(--animation);
}