.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.header__logo {
    margin-left: 36px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    margin-right: 36px;
}

.header__button {
    margin-left: 20px;
}
