:root {
    --color-white: #ffffff;
    --color-black: #1F2021;
    --color-grey: #A9A9A9;
    --color-lightgrey: #E6E6E6;
    --color-mediumgrey: #848484;
    --color-darkgrey: #414447;
    --backgroud-color: #F7F7F7;
    --shadow-color: rgba(31, 32, 33, 0.2);

    --font-family-l: OpenSansL, sans-serif;
    --font-family-r: OpenSansR, sans-serif;
    --font-family-sb: OpenSansSB, sans-serif;

    --animation-speed: .3s;
    --animation-func: ease;
    --animation: var(--animation-speed) var(--animation-func);
    --button-shadow: 0px 2px 4px var(--shadow-color);
    --container-shadow: 2px 3px 9px var(--shadow-color);

    --checkbox-size: 0.75em;
}

body {
    margin: 0;
    background-color: var(--backgroud-color);
    font-family: var(--font-family-r);
    height: 100%;
    display: grid;
    grid-gap: 24px;
    grid-template: 80px 1fr auto / 1fr;
    grid-template-areas:
        "header"
        "tasks"
        "create-new"
}

.header {
    grid-area: header;
    background-color: var(--color-black);
}

.main {
    grid-area: tasks;
    /*width: minmax(360px, 900px);*/
    margin: 0 36px;
}

.main-button {
    grid-area: create-new;
    margin: 0 auto;
}