.task {
    display: flex;
    height: 80px;
    background-color: var(--color-white);
    margin-bottom: 8px;
    box-shadow: var(--container-shadow);
}

.task:hover,
.task:focus {
    background-color: var(--color-lightgrey);
}