.task {
    display: block;
    height: 80px;
    background-color: var(--color-white);
    margin-bottom: 8px;
    box-shadow: var(--container-shadow);
    user-select: none;
    align-items: center;
}

.task:hover,
.task:focus {
    background-color: var(--color-lightgrey);
}

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
