a {
    text-decoration: none;
}

h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.navigation__btm {
    display: inline-flex;
    align-items: center;
    width: fit-content;
}

.navigation {
    justify-content: center;
    margin-left: 60px;
    margin-top: 21px;
    margin-right: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "Roboto", sans-serif;
    line-height: 20px;
    font-size: 17px;
    font-weight: 400;
    color: var(--color-black);
}

.navigation h2 {
    display: flex;
    justify-content: center;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile h2 {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #282826;
}

.avatar {
    width: 100px;
    height: 100px;
    margin-top: 72px;
    border-radius: 50%;
    background-image: url("../images/pictures/avatar.jpg");
}

.profile__edit-button {
    width: 293px;
    height: 48px;
    background: var(--color-black);
    box-shadow: 0 2px 4px rgba(31, 32, 33, 0.212806);
    border-radius: 24px;
    color: #FFFFFF;
    border-width: 0;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.profile__exit-button {
    margin-top: 36px;
    width: 168px;
    height: 25px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--color-mediumgrey);
    background-color: var(--backgroud-color);
    border: none;
}

.profile__delete-button {
    margin-top: 47px;
    width: 168px;
    height: 25px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #FC1212;
    background-color: var(--backgroud-color);
    border: none;
}

.about h2, p {
    display: flex;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

.about h2 {
    margin-top: 35px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #282826;
}

.about p {
    margin-top: 78px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.edit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit__img {
    position: relative;
}

.edit__img-filter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(0,0,0,.5);
}

.edit h2 {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #282826;
}

.edit__change-name {
    margin-top: 19px;
    box-sizing: border-box;
    width: 328px;
    height: 48px;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    background: white;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 21px;
    color: var(--color-black);
}

.edit__change-button {
    margin-top: 22px;
    width: 224px;
    height: 19px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
    font-size: 14px;
    color: black;
    background-color: var(--backgroud-color);
    border: none;
}

.edit__save-button {
    margin-top: 159px;
    width: 293px;
    height: 48px;
    background: #1F2021;
    box-shadow: 0 2px 4px rgba(31, 32, 33, 0.212806);
    border-radius: 24px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.edit__cancel-button {
    margin-top: 44px;
    width: 224px;
    height: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    text-align: center;
    font-size: 18px;
    color: black;
    background-color: var(--backgroud-color);
    border: none;
}

.change-pass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.change-pass h2 {
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #282826;
}

.change-pass input {
    width: 437px;
    height: 48px;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-indent: 9%;
    color: var(--color-black);

}

.change-pass__new {
    margin-top: 76px;
}

.change-pass p {
    margin-top: 11px;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    color: var(--color-mediumgrey)
}

.changePass__repeat {
    margin-top: 10px;
}

.changePass__save-button {
    margin-top: 24px;
    width: 293px;
    height: 48px;
    background: #1F2021;
    box-shadow: 0 2px 4px rgba(31, 32, 33, 0.212806);
    border-radius: 24px;
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}
